@import url(https://fonts.googleapis.com/css?family=Fira+Sans:700,400,400italic,700italic);
@import "font-awesome";


body{font-family: 'Fira Sans', sans-serif; font-size: 16px; font-weight: 400; color: #555; margin: 0px; padding: 0px; background-color: #fafafa;}

a{
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    color: rgba(242, 136, 0, 0.56);
}

nav a:active{
    color:grey;
}

button:hover{
    background-color: rgba(0, 255, 0, 0.5);
    border: 1px solid black;
}

button{
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 4px 15px;
    border-radius: 3px;
    background-color: black;
    transition: background-color 0.5s;
    border: 1px solid rgba(0, 255, 0, 0.5);
    width: 150px;
    height: 45px;
}

#page{
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    background-color: white;
    box-shadow: 1px 2px 10px black;
}

/* Text */

h1{
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}

h2{
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}

h3{
    margin: 0 0 0.5em 0;
    font-size: 1.3em;
    font-weight: 700;
}

h4{
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}

p{
    margin: 0 0 1em 0;
}


/*  Header  */

header{
    height:223px;
    background-color: black;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 7.5px solid rgba(242, 136, 0, 0.56);
}

header a.logo{
    position: absolute;
    display: block;
    height: 203px;
    width: 203px;
    background: url("../images/logo.png") no-repeat 0 0;
    background-size: contain;
    top: 10px;
    left: 65px;
}

.menu{

    height: 30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.menu-item{
    padding: 10px;
    font-size: 1.2em;
    color: white;

}
/*srateee*/

h1#fit {
    padding-top: 200px;
    font-size: 80px;
    font-weight: bold;

}

h2#Tracker {
    font-size: 40px;
}
#text{
  font-size: 15px;
  padding: 15px;
}
#bmihead{
  font-family: 'Comfortaa';font-size: 22px;

}
#weight {
  padding-left: 15px;
}

}

.container{


}
.button{
	padding-top: 100px;
}
.row{
	padding-top: 100px;
}
.img1 {
  padding-right: 120px;
  padding-top: 4px;
padding-bottom: 4px;
width: 408px;
    box-shadow: 1px 1px 10px 2px;
padding-left: 4px;
}

.bm1{
  float: right;
  box-shadow: 1px 1px 10px 2px;

}
.cal1{
  margin-left: 50px;
  padding-left: 50px;
  padding-right: 160px;
  box-shadow: 1px 1px 10px 2px;
}
.run1{
  margin-left: 130px;
  padding-right: 120px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 408px;
    box-shadow: 1px 1px 10px 2px;
  padding-left: 4px;

    }
    .subscription{
    margin top: 30px;
    padding: 0;
    height: 300px;
    width:100%;
    background-color:black;
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
    .textit {
    text-align: center;
    margin-top: 2%;
    color: #ffffff;
    }
    .mailing{
    text-align: center;
    height: 200px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: transparent;
    }
    .formStyle {
    margin: 20px;
    background:rgba(250,250,250,0.5);
    padding: 6px;
    width: 40%;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #ecf0f1;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 28px;
    font-weight: 100;
    color: #ffffff;
    border-radius: 5px;
    }
    .formButton {
    margin: 20px;
    background-color:#F15A29;
    display:inline-block;
    color:#ffffff;
    font-size:28px;
    font-weight: 500;
    padding:6px 50px;
    text-decoration:none;
    border-radius: 5px;
    }
    /*overeee*/


/*  Hero-Image  */

.hero-image{
    height:500px;
    width: auto;
    background-color: antiquewhite;
    position: relative;
    background-image: url("../images/jogger.jpg");
    background-size: cover;
}

.hero-image h1{
    position: relative;
    top: 150px;
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.image-bk button{
    position: relative;
    top: 100px;
    margin: 0px;
    display: block;
}

/*  Section - All  */

section{
    padding: 0 30px;
}

section::after{
    content:'';
    clear: both;
    display: block;
}

/* Section - Writing */

aside.column{

    margin-top: 20px;
    margin-bottom: 30px;

}

section.writing{

    margin-top: 25px;
}

section aside{
    width: 33.3%;
    float: left;
}

section aside.column-image{
    width: 100%;
    height: 550px;
    background-image: url("../images/timetable.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 30px;
    padding: 0px;
}

section aside.column-image .contents{
    padding: 0px;
}

section.timetable aside.column{
        width: 100%;
        float: none;
        margin: 10px auto;
    }

.column-image img{
    width: 100%;
    height: 100%;
}

aside .contents{
    padding: 10px;
/*    padding-top: 100px;*/
}

.fa{
    margin-bottom: 5px;
}

/* Quote */

section.quote{
    width: auto;
    margin: 10px 10px;
}

/* News */

#news-section{
    width: 90%;
    padding: 35px;
    height: 600px;
    margin:10px auto;
    display: block;
    text-align: center;


}

.news-box{
    width: 45%;
    height: 45%;
    background-color: white;
    display: inline-block;
    margin-top: 18px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.news{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 95%;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    border: 2px solid rgba(0, 255, 0, 0.8);
}

.news h3{
    padding: 15px;
}

/* About Us*/

.about-image{
    background-image: url("../images/runners.jpg");
    background-size: cover;
}

/* Contact */

.contact-image{
    background-image: url("../images/watch.jpg");
    background-size: cover;
}

/* Footer */

footer{
    height: 205px;
    background-color: black;
    padding: 0 30px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    border-top: 7.5px solid rgba(242, 136, 0, 0.56);
    margin-top: 50px;

}

footer.column{

    margin-top: 20px;

}


footer aside{
    width: 33.3%;
    float: left;
}

footer p{
    font-size: 1.1em;
    line-height: 1.5em;
}

footer img{
    margin-right: 10px;
}


/* Media Queries */

@media screen and (max-width: 1000px){

    .hero-image h1{
        font-size: 3.7em;
    }

    section aside.column-image{
        width: 100%;
        float: none;
        margin: 10px auto;
        max-height: 400px;
    }

    section.timetable aside.column{
        width: 100%;
        float: none;
        margin: 80px auto;
    }

}

@media screen and (max-width: 825px){
    .hero-image h1{
        font-size: 3.5em;
    }

    header{
        height: 250px;
    }
    .menu{
        width: 457.5px;
        height: 30px;
        position: static;
        text-align: center;
        display: block;
    }

        section.timetable aside.column{
            width: 100%;
            float: none;
            margin: 20px auto;
        }
        section aside.column-image{
        width: 100%;
        float: none;
        margin: 10px auto;
        max-height: 400px;
    }



     #logo-div{
        margin-left: auto;
        margin-right: auto;
        width: 223px;
        height: 223px;

    }
    #logo-div a {
       position: static;
   }z

    p{
        font-size: 0.9em;
    }
    h3{
        font-size: 1.1em;
    }

    h1{
        text-align: center;
        margin-bottom: 70px;
    }
    .image-bk button{
        margin: 5px auto;
    }

    nav{
        width: 75%;
        margin: 0px auto;
        }

    #menu-bar > ul{
        display: block;
        margin: 0px auto;
        width: auto;
    }
}

@media screen and (max-width: 760px){

    h2{
        font-size: 1.4em;
    }

    footer p{
        font-size: 0.9em;
    }

    div.contents img{
        height: 20px
        width: 20px;
    }

    section aside.column{
        width: 100%;
        float: none;
        margin: 5px auto;
    }
    section.timetable aside.column{
        margin-top: 0px;
    }
    section aside.column-image{
        width: 100%;
        float: none;
        margin: 10px auto;
        max-height: 300px;
    }

}

@media screen and (max-width: 660px){

    .hero-image h1{
        font-size: 2.8em;
    }

    h2{
        font-size: 1.2em;
    }


    footer aside.column{
        width: 100%;
        float: none;
        margin: 5px auto;
    }

    footer{
        height: auto;
    }

    .menu-item{
        font-size: 1em;
    }

    section aside.column-image{
        width: 100%;
        float: none;
        margin: 10px auto;
        max-height: 200px;
    }
}

@media screen and (max-width: 450px){

    .menu{
        width: 280px;
        height: 30px;
        position: static;
        text-align: center;
    }

    header{
        height:280px;
    }

    .menu-item{
        padding-bottom: 10px;
    }

    section aside.column-image{
        width: 100%;
        float: none;
        margin: 10px auto;
        max-height: 150px;
    }

}


